# SNANA file names comparisons

- Compare 2 columns of names looking for differences.
- Create a text file with the repeated files.

---------

# Find and match the names between SNANA database and the SNeIa in my Hubble diagrams


I'm given with two table files containing each one a column of SNe names. This script read that column and create a list of those names that are and are not in both lists.

The names in the list may have (or not) prefixes or suffixes; this script is able to read and compare that kind of lists, for instance, in one list the name to compare is "sn2006bh__u_CSP_21_CSP_J" while in the other list is written as "JLA2014_CSP_2006bh.dat": this script is able to output: "Yes, 2006bh is in both lists".

### USER

In [1]:
import numpy as np
import matplotlib as plt

#---------------------------------------------------

#     Table 1

DirTables_1 = '/Users/arturo/Dropbox/Research/Articulos/10_AndyKaisey/\
10Compute/TheTemplates/AllBands/Plots/HubbleDiagram/GaussianProcess/'
 
DataFile_1 = 'Table_TotalMu_AllBands_Notes_.txt'
table_1 = np.genfromtxt(DirTables_1+DataFile_1, usecols=(0), dtype=['S28'])

print "# %s SNe in this list."%len(table_1)

# Ignore the first characters in the name (e.g., the "sn" in "sn2006bo")
AppendNameCharacters_1 = 2   #  2

#---------------------------------------------------

# Copy the SNANA LC files?
copyLCfiles = True

DirSaveOutput = '/Users/arturo/Dropbox/Research/SoftwareResearch/\
SNANA/Odyssey/home_snana/lowz/'

#---------------------------------------------------

NotebookName = "01_FindSNeNamesInSNANAbasedOnAndySample.ipynb"

# 56 SNe in this list.

In [2]:
# Samples in SNANA database
# /n/panlfs3/aavelino/SNDATA_ROOT/lcmerge/2017_05_12/

#     Table 2

# Location of the ".LIST" files.
DirTables_2 = '/Users/arturo/Dropbox/Research/SoftwareResearch/SNANA/\
Odyssey/home_snana/lowz/0_lcmerge_LISTS_SNDATA_ROOT_2018_01_02/LIST_files_Originals/'

# Names of the ".LIST" files in SNANA database.
# 1st argument: The name of the ".LIST" file, that it is equal to
# the folder's name in SNANA's "lcmerge" LC folder.
# 2nd argument: The number correponds to the number of characters to ignore before
# the actual SN name in the LC-file name.
# 3rd argument: The subsample associated to that folder, i.e., CfA, CSP, Others.

SamplesSNANA = [
('CFA3_4SHOOTER2', 15, 'CfA'),
('CFA3_KEPLERCAM', 15, 'CfA'),
('CFA4', 5, 'CfA'),
('CSPDR2', 7, 'CSP'),
('ESSENCE_WV07', 13, 'Oth'),
('HST_Riess06_GOLD', 12, 'Oth'),
('HST_Riess06', 12, 'Oth'),
('JLA2014_CfAIII_4SHOOTER2', 25, 'CfA'),
('JLA2014_CfAIII_KEPLERCAM', 25, 'CfA'),
('JLA2014_CSP', 12, 'CSP'),
('JLA2014_HST', 12, 'Oth'),
('JLA2014_LOWZ_LANDOLT_a', 20, 'Oth'),
('JLA2014_LOWZ_LANDOLT_a', 20, 'CSP'),
('JLA2014_LOWZ_LANDOLT_b', 13, 'CfA'),
('JLA2014_LOWZ_LANDOLT_c', 14, 'CfA'),
('JLA2014_LOWZ_LANDOLT_d', 18, 'Oth'),
('JLA2014_SNLS', 13, 'Oth'),
('LOWZ_CFA3', 10, 'CfA'),
('LOWZ_JRK07', 11, 'CfA'),
('LOWZ_JRK07', 11, 'Oth'),
('PS1s_CFA1_JRK07_RS14', 11, 'CfA'),
('PS1s_CFA2_JRK07_RS14', 11, 'CfA'),
('PS1s_CFA3_4SHOOTER2_RS14', 15, 'CfA'),
('PS1s_CFA3_KEPLERCAM_RS14', 15, 'CfA'),
('PS1s_CFA4_p1_RS14', 8, 'CfA'),
('PS1s_CFA4_p2_RS14', 8, 'CfA'),
('PS1s_CSPDR2_V_RS14', 7, 'CSP'),
('PS1s_PS1_RS14', 0, 'Oth'),
# ('SDSS_allCandidates+BOSS', 0, 'CfA'),
('SDSS_HOLTZ08', 13, 'Oth'),
('SNLS_Ast06', 11, 'Oth'),
('SNLS3year_CFA3_4SHOOTER2', 25, 'CfA'),
('SNLS3year_CFA3_KEPLERCAM', 25, 'CfA'),
    
# Version SNDATA_ROOT_2018_01_02 don't have any LC file.
# ('SNLS3year_CSP', 7, 'CSP'),

('SNLS3year_JRK07', 16, 'CfA'),
('SNLS3year_JRK07', 16, 'Oth'),
('SNLS3year_MEGACAM', 18, 'Oth'),
('SNLS3year+METADATA', 19, 'Oth')
]

# If "copyLCfiles = True" then look for the SNANA LC files here:
if copyLCfiles:
    DirSNANAlcmerge = '/Users/arturo/Documents/Research/SNANA/\
SNDATA_ROOT_PUBLIC_2018_01_02/lcmerge/'

In [3]:
# OK
""" 
# Samples in SNANA database
# /n/panlfs3/aavelino/SNDATA_ROOT/lcmerge/
# SNANA v10_35g 

#     Table 2

DirTables_2 = '/Users/arturo/Dropbox/Research/SoftwareResearch/SNANA/Odyssey/panlfs3_aavelino/\
lcmerge/lcmerge_v10_35g_listsOfSNe/LIST_files/'

SamplesSNANA = [
('CFA3_4SHOOTER2', 15, 'CfA'),
('CFA3_KEPLERCAM', 15, 'CfA'),
('CFA4', 5, 'CfA'),
('CSPDR2', 7, 'CSP'),
('JLA2014_CfAIII_4SHOOTER2', 25, 'CfA'),
('JLA2014_CfAIII_KEPLERCAM', 25, 'CfA'),
('JLA2014_CSP', 12, 'CSP'),
('JLA2014_LOWZ_LANDOLT_a', 20, 'Oth'),
('JLA2014_LOWZ_LANDOLT_b', 13, 'CfA'),
('JLA2014_LOWZ_LANDOLT_c', 14, 'CfA'),
('JLA2014_LOWZ_LANDOLT_d', 18, 'Oth'),
('LOWZ_CFA3', 10, 'CfA'),
('LOWZ_JRK07', 11, 'Oth'),
('SNLS3year_CFA3_4SHOOTER2', 25, 'CfA'),
('SNLS3year_CFA3_KEPLERCAM', 25, 'CfA'),
('SNLS3year_CSP', 7, 'CSP'),
('SNLS3year_JRK07', 16, 'Oth')
]
"""
0

0

------------

## Automatic

In [4]:
# Function to identify if a string is an integer number or a letter.
# This will be used in the dictionary construction to properly read some SN names.

def is_number(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

# Tests
print is_number('5'), is_number('e')
# True False

True False

#### Get the name of this ipython notebook
To print it in the output text files as reference

In [5]:
%%javascript
var kernel = IPython.notebook.kernel;
var thename = window.document.getElementById("notebook_name").innerHTML;
var command = "NotebookName = " + "'"+thename+".ipynb"+"'";
kernel.execute(command);

In [6]:
print '#', (NotebookName)
# Update_zcmb_in_SNANA_datafiles_v1_0.ipynb

# 01_FindSNeNamesInSNANAbasedOnAndySample.ipynb

In [7]:
# Get the current date and time
import datetime 

# Read the time and date now
now = datetime.datetime.now()

#### Main loop: Find the elements of table 1 that ARE in table 2

In [8]:
# Find the elements of table 1 that ARE in table 2

from shutil import copyfile # To copy/paste data files.

File_snana = open(DirSaveOutput+'SNe_inGPHD_AndySample_snanaNamesOnly.txt','w')
File_MyFormat = open(DirSaveOutput+'SNe_inGPHD_AndySample.txt','w')

now = datetime.datetime.now() # Read the time and date right now
text_timenow = now.strftime("%Y-%m-%d (yyyy-mm-dd); %H:%M hrs.")
text_line = '#'+'-'*50 + '\n'

File_MyFormat.write('# Data table created by: Arturo Avelino \n')
File_MyFormat.write('# On date: %s \n'%text_timenow)
File_MyFormat.write('# Script used: %s \n'%NotebookName)
File_MyFormat.write(text_line)

for k in range(len(SamplesSNANA)):
    
    FolderSample = SamplesSNANA[k][0]
    DataFile_2 = FolderSample+'.LIST'
    # print DataFile_2
    table_2 = np.genfromtxt(DirTables_2+DataFile_2, usecols=(0), dtype=['S50'])

    # Ignore the first characters in the name (e.g., the "sn" in "sn2006bo")
    AppendNameCharacters_2 = SamplesSNANA[k][1]
    SuffixNameCharacters_2 = -4

    # Identify the sample of table 2 according to the labels used in table 1.
    # With this I can select those SN names that are in both tables AND that correspond
    # to the same subsample.
    sampleTable_2 = SamplesSNANA[k][2]  # (CfA, CSP, Oth). "Oth" stands for "Others" 
    # print sampleTable_2
    
    #------------------------
    
    text_01 = '#'+'-'*50
    text_02 = '# The following names are common in both tables.'
    text_03 = '# table 1: %s '%DataFile_1
    text_04 = '# table 2: %s '%DataFile_2
    text_05 = '# Sample type of table 2:'+sampleTable_2

    print text_01
    print text_02
    print text_03
    print text_04
    print text_05

    File_snana.write(text_01+'\n'); File_snana.write(text_05+'\n'); 
    File_snana.write(text_02+'\n'); File_snana.write(text_03+'\n');
    File_snana.write(text_04+'\n');
    File_MyFormat.write(text_01+'\n'); File_MyFormat.write(text_05+'\n');
    File_MyFormat.write(text_02+'\n'); File_MyFormat.write(text_03+'\n');
    File_MyFormat.write(text_04+'\n'); 
    
    #------------------------
    
    count = 0 # Reset counter

    for i in range(len(table_1)):
        name_1_int = table_1['f0'][i]
        if   name_1_int[7] == '_': name_1 = name_1_int[AppendNameCharacters_1:7] # To read correctly, "sn2011B"
        elif name_1_int[7] != '_':
            if is_number(name_1_int[7]): name_1 = name_1_int[AppendNameCharacters_1:15] # To read correctly, "snf20080514-002"
            else: name_1 = name_1_int[AppendNameCharacters_1:8]  # To read correctly, "sn1998bu"   

        sampleFlat_1 = name_1_int[19:22]

        for j in range(len(table_2)):  

            name_2_int = table_2['f0'][j]  
            name_2 = name_2_int[AppendNameCharacters_2:SuffixNameCharacters_2]   # Remove the appendix and suffix in the name
            # print name_2

            # Write down the SN's names
            if name_1 == name_2 and sampleFlat_1 == sampleTable_2:
                File_MyFormat.write('%s    %s   %s \n'%(name_1_int, name_2_int, FolderSample))
                File_snana.write('%s \n'%name_2_int)
                print name_1_int, '|', name_2_int
                # print name_2_int
                
                if copyLCfiles:
                    
                    # First give the actual name for'JLA2014_LOWZ_LANDOLT' folder.
                    if (FolderSample=='JLA2014_LOWZ_LANDOLT_a' or 
                        FolderSample=='JLA2014_LOWZ_LANDOLT_b' or 
                        FolderSample=='JLA2014_LOWZ_LANDOLT_c' or 
                        FolderSample=='JLA2014_LOWZ_LANDOLT_d'):
                        FolderSample = 'JLA2014_LOWZ_LANDOLT' 
                    
                    #- Force the creation of the directory to save the outputs.
                    #- "If the subdirectory does not exist then create it"
                    import os # To use command line like instructions
                    if not os.path.exists(DirSaveOutput+FolderSample+'/data/'): 
                        os.makedirs(DirSaveOutput+FolderSample+'/data/')
    
                    # Copy file from Dir to DirDestination directory.
                    copyfile(DirSNANAlcmerge+FolderSample+'/'+name_2_int, 
                             DirSaveOutput+FolderSample+'/data/'+name_2_int)
                    
                count = count + 1 
                
    text_10 = '# %s names are equal in both tables.'%count
    text_empty = '#'
    print text_10
    print text_empty
    File_snana.write(text_10+'\n'); File_MyFormat.write(text_10+'\n')
    File_snana.write(text_empty+'\n'); File_MyFormat.write(text_empty+'\n')

File_snana.close()
File_MyFormat.close()

# print ''
print '# All done.'

#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: CFA3_4SHOOTER2.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: CFA3_KEPLERCAM.LIST
# Sample type of table 2:CfA
sn2005cf__U_36_B_1_CfA | CFA3_KEPLERCAM_2005cf.DAT
sn2006D__U_24_B_22_CfA | CFA3_KEPLERCAM_2006D.DAT
sn2006lf__U_3_B_24_CfA | CFA3_KEPLERCAM_2006lf.DAT
# 3 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: CFA4.LIST
# Sample type of table 2:CfA
sn2008hs__U_2_B_15_CfA | CFA4_2008hs.dat
sn2009al__u_prime__CfA | CFA4_2009al.dat
sn2009an__u_prime__CfA | CFA4_2009an.dat
sn2010ai__B_16_V_2_CfA | CFA4_2010ai.dat
sn2008gb__U_5_B_14_CfA | CFA4_2008gb.dat
sn2009bv__B_18_V_1_CfA | CFA4_2009bv.dat
# 6 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: CSPDR2.LIST
# Sample type of table 2:CSP
sn2004eo_dummytext_CSP | CSPDR2_2004eo.dat
sn2004ey_dummytext_CSP | CSPDR2_2004ey.dat
sn2005el_dummytext_CSP | CSPDR2_2005el.dat
sn2005iq_dummytext_CSP | CSPDR2_2005iq.dat
sn2005kc_dummytext_CSP | CSPDR2_2005kc.dat
sn2005ki_dummytext_CSP | CSPDR2_2005ki.dat
sn2006ax_dummytext_CSP | CSPDR2_2006ax.dat
sn2006bh_dummytext_CSP | CSPDR2_2006bh.dat
sn2006bt_dummytext_CSP | CSPDR2_2006bt.dat
sn2006kf_dummytext_CSP | CSPDR2_2006kf.dat
sn2007A_dummytext__CSP | CSPDR2_2007A.dat
sn2007af_dummytext_CSP | CSPDR2_2007af.dat
sn2007bc_dummytext_CSP | CSPDR2_2007bc.dat
sn2007bd_dummytext_CSP | CSPDR2_2007bd.dat
sn2007ca_dummytext_CSP | CSPDR2_2007ca.dat
sn2007jg_dummytext_CSP | CSPDR2_2007jg.dat
sn2007le_dummytext_CSP | CSPDR2_2007le.dat
sn2008bc_dummytext_CSP | CSPDR2_2008bc.dat
sn2008gp_dummytext_CSP | CSPDR2_2008gp.dat
sn2008hv_dummytext_CSP | CSPDR2_2008hv.dat
sn2007ai_dummytext_CSP | CSPDR2_2007ai.dat
sn2007as_dummytext_CSP | CSPDR2_2007as.dat
# 22 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: ESSENCE_WV07.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: HST_Riess06_GOLD.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: HST_Riess06.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_CfAIII_4SHOOTER2.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_CfAIII_KEPLERCAM.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_CSP.LIST
# Sample type of table 2:CSP
sn2004ey_dummytext_CSP | JLA2014_CSP_2004ey.dat
sn2005iq_dummytext_CSP | JLA2014_CSP_2005iq.dat
sn2005kc_dummytext_CSP | JLA2014_CSP_2005kc.dat
sn2005ki_dummytext_CSP | JLA2014_CSP_2005ki.dat
sn2006ax_dummytext_CSP | JLA2014_CSP_2006ax.dat
sn2006bh_dummytext_CSP | JLA2014_CSP_2006bh.dat
# 6 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_HST.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_LOWZ_LANDOLT_a.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_LOWZ_LANDOLT_a.LIST
# Sample type of table 2:CSP
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_LOWZ_LANDOLT_b.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_LOWZ_LANDOLT_c.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_LOWZ_LANDOLT_d.LIST
# Sample type of table 2:Oth
sn2001bt__B_22_V_2_Others | JLA2014_lowzOther_2001bt.dat
sn2001cz__B_14_V_1_Others | JLA2014_lowzOther_2001cz.dat
# 2 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: JLA2014_SNLS.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: LOWZ_CFA3.LIST
# Sample type of table 2:CfA
sn2005cf__U_36_B_1_CfA | LOWZ_CFA3_2005cf.dat
sn2006D__U_24_B_22_CfA | LOWZ_CFA3_2006D.dat
sn2006lf__U_3_B_24_CfA | LOWZ_CFA3_2006lf.dat
# 3 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: LOWZ_JRK07.LIST
# Sample type of table 2:CfA
sn1998bu__U_69_B_9_CfA | LOWZ_JRK07_1998bu.DAT
# 1 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: LOWZ_JRK07.LIST
# Sample type of table 2:Oth
sn1999ek__U_2_B_38_Others | LOWZ_JRK07_1999ek.DAT
sn2000E__U_5_B_27__Others | LOWZ_JRK07_2000E.DAT
sn2001bt__B_22_V_2_Others | LOWZ_JRK07_2001bt.DAT
sn2001cz__B_14_V_1_Others | LOWZ_JRK07_2001cz.DAT
sn2001el__U_20_B_4_Others | LOWZ_JRK07_2001el.DAT
# 5 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA1_JRK07_RS14.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA2_JRK07_RS14.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA3_4SHOOTER2_RS14.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA3_KEPLERCAM_RS14.LIST
# Sample type of table 2:CfA
sn2005cf__U_36_B_1_CfA | CFA3_KEPLERCAM_2005cf.DAT
sn2006D__U_24_B_22_CfA | CFA3_KEPLERCAM_2006D.DAT
sn2006lf__U_3_B_24_CfA | CFA3_KEPLERCAM_2006lf.DAT
# 3 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA4_p1_RS14.LIST
# Sample type of table 2:CfA
sn2008hs__U_2_B_15_CfA | CFA4_p1_2008hs.dat
sn2009al__u_prime__CfA | CFA4_p1_2009al.dat
sn2009an__u_prime__CfA | CFA4_p1_2009an.dat
sn2008gb__U_5_B_14_CfA | CFA4_p1_2008gb.dat
sn2009bv__B_18_V_1_CfA | CFA4_p1_2009bv.dat
# 5 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CFA4_p2_RS14.LIST
# Sample type of table 2:CfA
sn2010ai__B_16_V_2_CfA | CFA4_p2_2010ai.dat
# 1 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_CSPDR2_V_RS14.LIST
# Sample type of table 2:CSP
sn2004eo_dummytext_CSP | CSPDR2_2004eo.dat
sn2004ey_dummytext_CSP | CSPDR2_2004ey.dat
sn2005el_dummytext_CSP | CSPDR2_2005el.dat
sn2005iq_dummytext_CSP | CSPDR2_2005iq.dat
sn2005kc_dummytext_CSP | CSPDR2_2005kc.dat
sn2005ki_dummytext_CSP | CSPDR2_2005ki.dat
sn2006ax_dummytext_CSP | CSPDR2_2006ax.dat
sn2006bh_dummytext_CSP | CSPDR2_2006bh.dat
sn2006bt_dummytext_CSP | CSPDR2_2006bt.dat
sn2006kf_dummytext_CSP | CSPDR2_2006kf.dat
sn2007A_dummytext__CSP | CSPDR2_2007A.dat
sn2007af_dummytext_CSP | CSPDR2_2007af.dat
sn2007bc_dummytext_CSP | CSPDR2_2007bc.dat
sn2007bd_dummytext_CSP | CSPDR2_2007bd.dat
sn2007ca_dummytext_CSP | CSPDR2_2007ca.dat
sn2007jg_dummytext_CSP | CSPDR2_2007jg.dat
sn2007le_dummytext_CSP | CSPDR2_2007le.dat
sn2008bc_dummytext_CSP | CSPDR2_2008bc.dat
sn2008gp_dummytext_CSP | CSPDR2_2008gp.dat
sn2008hv_dummytext_CSP | CSPDR2_2008hv.dat
sn2007ai_dummytext_CSP | CSPDR2_2007ai.dat
sn2007as_dummytext_CSP | CSPDR2_2007as.dat
# 22 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: PS1s_PS1_RS14.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SDSS_HOLTZ08.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS_Ast06.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year_CFA3_4SHOOTER2.LIST
# Sample type of table 2:CfA
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year_CFA3_KEPLERCAM.LIST
# Sample type of table 2:CfA
sn2006D__U_24_B_22_CfA | SNLS3year_CFA3_KEPLERCAM_2006D.dat
sn2006lf__U_3_B_24_CfA | SNLS3year_CFA3_KEPLERCAM_2006lf.dat
# 2 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year_JRK07.LIST
# Sample type of table 2:CfA
sn1998bu__U_69_B_9_CfA | SNLS3year_JRK07_1998bu.dat
# 1 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year_JRK07.LIST
# Sample type of table 2:Oth
sn1999ek__U_2_B_38_Others | SNLS3year_JRK07_1999ek.dat
sn2000E__U_5_B_27__Others | SNLS3year_JRK07_2000E.dat
sn2001bt__B_22_V_2_Others | SNLS3year_JRK07_2001bt.dat
sn2001cz__B_14_V_1_Others | SNLS3year_JRK07_2001cz.dat
sn2001el__U_20_B_4_Others | SNLS3year_JRK07_2001el.dat
sn2002dj__U_13_B_1_Others | SNLS3year_JRK07_2002dj.dat
# 6 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year_MEGACAM.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
#--------------------------------------------------
# The following names are common in both tables.
# table 1: Table_TotalMu_AllBands_Notes_.txt
# table 2: SNLS3year+METADATA.LIST
# Sample type of table 2:Oth
# 0 names are equal in both tables.
#
# All done.

-----

# Find repeated names in a list

Find the repeated names in a given list

In [17]:
# USER 

# DirList = '/Users/arturo/Dropbox/Research/SoftwareResearch/\
# SNANA/Odyssey/panlfs3_aavelino/lcmerge/0_lcmerge_LISTS_2018_05_04/'

DirList = DirSaveOutput

# DirSaveOutput = DirList

FileName = 'SNe_inGPHD_AndySample.txt'

#----------------------------

# Preferred sample folder to consider to use that photometric data.
# This is ordered based on the number of SNe I selected manually from each folder:
# the first folder's name corresponds to the one with more SNe, and so on.
PreferredFolders = ['PS1s_CSPDR2_V_RS14', 'LOWZ_JRK07', 'PS1s_CFA3_KEPLERCAM_RS14', 
                    'JLA2014_LOWZ_LANDOLT', 'PS1s_CFA4_p1_RS14','PS1s_CFA4_p2_RS14' ]

#### Automatic

In [20]:
import numpy as np
import matplotlib as plt
#----------------------------

FileData = np.genfromtxt(DirList+FileName, usecols=(0, 1, 2), dtype=['S32', 'S45', 'S45'])
print '# FileData lenght = %s rows'%len(FileData)

# FileData lenght = 99 rows

# FileData lenght = 88 rows

##### Main loop

In [23]:
# Find repeated names in a given list

file_1 = open(DirSaveOutput+FileName[:-4]+'_Repeated_.txt', 'w')
file_1.write('#    Repeated \n')
file_1.write('# SN names that are repeated AT LEAST one time. \n')
file_1.write('# NOTE: I have to SELECT MANUALLY the SNe photometric data files I want to \
finally use, and their corresponding sample folder. \n')

now = datetime.datetime.now() # Read the time and date right now
text_timenow = now.strftime("%Y-%m-%d (yyyy-mm-dd); %H:%M hrs.")
text_line = '#'+'-'*50 + '\n'

file_1.write(text_line)
file_1.write('# Data table created by: Arturo Avelino \n')
file_1.write('# On date: %s \n'%text_timenow)
file_1.write('# Script used: %s \n'%NotebookName)
file_1.write(text_line)


file_1.write('# SN names                      SNANA names                                \
Folder sample               Notes  \n')
# file_1.write('# \n')

ii = 0; count1 = 0; count2 = 0;
flag_repeated = 0;
listRepeatedNames = []
listRepeatedNames_int = []
listUniqueNames = []

# print '# Repeated names:'

for i in range(len(FileData)):
    name_a = FileData['f0'][i]
    # print name
    
    # Reset:
    flag_repeated = 0
        
    ii = i + 1
    
    for j in range(len(FileData)-ii):
        
        name_b     = FileData['f0'][j+ii]
        nameSnana  = FileData['f1'][j+ii]
        folder_int = FileData['f2'][j+ii]
        
        # Find repeated SNe. It could detect several times the same SNe.
        if name_b == name_a:
            flag_repeated = 1 # Flag that it is repeated
            # print name_a, flag_repeated
            count1 = count1 + 1
            listRepeatedNames += [(name_b, nameSnana, folder_int)]
            # print name_b
    
            # Write down just one time the name of each SNe:
            if name_b not in listRepeatedNames_int:
                listRepeatedNames_int += [name_b]
                file_1.write('%-29s  %-42s  %-35s # \n'%(name_b, nameSnana, folder_int))
                # print name_b
                count2 = count2 + 1
        
        # Compare with the last name:
        elif (j == (len(FileData)-ii-1) and flag_repeated==0 and 
              name_a not in listRepeatedNames_int):
            print "%s, no repeated"%name_a
            listUniqueNames += [name_a]
            
    # Compare with the last name:
    if (i == (len(FileData)-1) and
          name_a not in listRepeatedNames_int):
        print "%s, no repeated"%name_a
        listUniqueNames += [name_a]

text_10 = '# Number of names repeated at least one time = %s names. \n'%count2
text_11 = '# Approximated number of extra times some names are repeated =< %s times. \n'%count1

file_1.write(text_10); file_1.write(text_11); file_1.write('#%s \n'%text_line);

print text_10
print text_11

#---------------------------------

# Write a scratch list with all the repeated events.
# Print and write to a text file the names that are repeated at least 1 time.

file_1.write('# \n');
file_1.write('#        Scratch \n');
text_14 = '# %s times I found repeated SNe names. They are: \n'%len(listRepeatedNames)
file_1.write(text_14);
# print text_14

# Sort the list based on the sample-folder name (i.e., the third column in the list).
sortedList = sorted(listRepeatedNames, key=lambda folderName: folderName[2])

for i2 in range(len(sortedList)):
    file_1.write('# %-29s  %-42s  %-35s  # \n'%(sortedList[i2][0], 
                                                sortedList[i2][1],
                                                sortedList[i2][2]))
    # print listRepeatedNames[i2]
    
#---------------------------------

if len(listUniqueNames) > 0:
    for i3 in range(len(listUniqueNames)):
        file_1.write('# %-29s  # \n'%(listUniqueNames[i3]))
        
#---------------------------------

file_1.close()

sn2002dj__U_13_B_1_Others, no repeated
# Number of names repeated at least one time = 37 names.

# Approximated number of extra times some names are repeated =< 65 times.

In [26]:
listUniqueNames

['sn2005cf__U_36_B_1_CfA',
 'sn2006D__U_24_B_22_CfA',
 'sn2006lf__U_3_B_24_CfA',
 'sn2008hs__U_2_B_15_CfA',
 'sn2009al__u_prime__CfA',
 'sn2009an__u_prime__CfA',
 'sn2010ai__B_16_V_2_CfA',
 'sn2008gb__U_5_B_14_CfA',
 'sn2009bv__B_18_V_1_CfA',
 'sn2004eo_dummytext_CSP',
 'sn2004ey_dummytext_CSP',
 'sn2005el_dummytext_CSP',
 'sn2005iq_dummytext_CSP',
 'sn2005kc_dummytext_CSP',
 'sn2005ki_dummytext_CSP',
 'sn2006ax_dummytext_CSP',
 'sn2006bh_dummytext_CSP',
 'sn2006bt_dummytext_CSP',
 'sn2006kf_dummytext_CSP',
 'sn2007A_dummytext__CSP',
 'sn2007af_dummytext_CSP',
 'sn2007bc_dummytext_CSP',
 'sn2007bd_dummytext_CSP',
 'sn2007ca_dummytext_CSP',
 'sn2007jg_dummytext_CSP',
 'sn2007le_dummytext_CSP',
 'sn2008bc_dummytext_CSP',
 'sn2008gp_dummytext_CSP',
 'sn2008hv_dummytext_CSP',
 'sn2007ai_dummytext_CSP',
 'sn2007as_dummytext_CSP',
 'sn2004ey_dummytext_CSP',
 'sn2005iq_dummytext_CSP',
 'sn2005kc_dummytext_CSP',
 'sn2005ki_dummytext_CSP',
 'sn2006ax_dummytext_CSP',
 'sn2006bh_dummytext_CSP',
 'sn2001bt__B_22_V_2_Others',
 'sn2001cz__B_14_V_1_Others',
 'sn2005cf__U_36_B_1_CfA',
 'sn2006D__U_24_B_22_CfA',
 'sn2006lf__U_3_B_24_CfA',
 'sn1998bu__U_69_B_9_CfA',
 'sn1999ek__U_2_B_38_Others',
 'sn2000E__U_5_B_27__Others',
 'sn2001bt__B_22_V_2_Others',
 'sn2001cz__B_14_V_1_Others',
 'sn2001el__U_20_B_4_Others',
 'sn2006D__U_24_B_22_CfA',
 'sn2006lf__U_3_B_24_CfA']

In [16]:
listUniqueNames = ['xx']
len(listUniqueNames)

1

In [17]:
listUniqueNames = []
len(listUniqueNames)

0

In [11]:
for i in range(10):
    print i

0
1
2
3
4
5
6
7
8
9

-------

# Find SNe in my list that are NOT in SNANA database

In [ ]:
# User

import numpy as np
import matplotlib as plt

#---------------------------------------------------

# DirTables_1 = "/Users/arturo/Dropbox/Research/Articulos/10_AndyKaisey/\
# 10Compute/TheTemplates/AllBands/Plots/HubbleDiagram/GaussianProcess/"
    
# DataFile_1 = 'Table_TotalMu_AllBands_Notes_.txt'
# table_1 = np.genfromtxt(DirTables_1+DataFile_1, usecols=(0), dtype=['S28'])

# Ignore the first characters in the name (e.g., the "sn" in "sn2006bo")
# AppendNameCharacters_1 = 0   

#----------------------------------------------------------------


# DirTables_2 = '/Users/arturo/Dropbox/Research/SoftwareResearch/SNANA/\
# Odyssey/panlfs3_aavelino/lcmerge/0_lcmerge_LISTS_2018_05_04/'

DirTables_2 = DirSaveOutput

#DataFile_2 = 'SNe_inGPHD_AndySample.txt'
DataFile_2 = FileName

table_2 = np.genfromtxt(DirTables_2+DataFile_2, usecols=(0), dtype=['S30'])

# Ignore the first characters in the name (e.g., the "sn" in "sn2006bo")
AppendNameCharacters_2 = 0

#---------------------------------------------------

print '# Size of table_1:', len(table_1), len(table_1.T)
print '# Size of table_2:', len(table_2), len(table_2.T)
# Size of table_1: 59 59
# Size of table_2: 120 120

print ''
print '# Checking that I m correctly reading table 2:'
print '#', table_2['f0'][0][AppendNameCharacters_2:]
print '#', table_2['f0'][1][AppendNameCharacters_2:]
print '#', table_2['f0'][2][AppendNameCharacters_2:]

# sn2005cf__U_36_B_1_CfA_J
# sn2005el__U_55_B_3_CfA_J
# sn2005eq__U_22_B_2_CfA_J

### Automatic

In [ ]:
# Find the elements of table 1 that are NOT in table 2

count = 0

print '#', '#'*50
print '# '
print '#      Missing SNe in SNANA database'
print '# '
print '# The following names in table 1 are NOT in table 2:'
print '# table 1: %s '%DataFile_1
print '# table 2: %s '%DataFile_2
print '# Dir table 1: %s'%DirTables_1
print '# Dir table 2: %s'%DirTables_2

now = datetime.datetime.now() # Read the time and date right now
text_timenow = now.strftime("%Y-%m-%d (yyyy-mm-dd); %H:%M hrs.")
text_line = '#'+'-'*50

print text_line
print '# Data table created by: Arturo Avelino'
print '# On date: %s '%text_timenow
print '# Script used: %s '%NotebookName
print text_line

for i in range(len(table_1)):
    for j in range(len(table_2)):
        if table_1['f0'][i] == table_2['f0'][j]:
            # print '-'
            break
    else:
        if j==(len(table_2)-1):
            print "# %s"%table_1['f0'][i]
            count = count + 1
                    
# print ''
print '#', count, 'names in table 1 are NOT in table 2.'
print '#', '#'*50

--------